[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/elarielcl/sdsl-lite
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
